.form-field-category {
  @media (min-width: 600px) {
    padding-right: 10px;
  }
  margin-top: 10px;
}

.form-field-search {
  margin-top: 10px;
}

mat-label {
  font-weight: normal;
  color: gray;
}

//---------------------CSS PAGINATION-----------------------------------------

.paginator {
  display: flex;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #b6c1ff;
  padding-top: 0;
}

::ng-deep .mat-mdc-paginator-container {
  min-height: 60px;
  background-color: #b6c1ff;
}

::ng-deep .mat-mdc-paginator {
  background: #7688ee;
  color: rgb(255, 255, 255, 0.87);
  margin-top: 2px;
  margin-bottom: 4px;
}

::ng-deep .mat-mdc-paginator-page-size-label {
  color: black;
  font-weight: 800;
  font-size: 13px;
}

::ng-deep .mat-mdc-paginator-range-label {
  color: black;
  font-weight: 800;
  font-size: 13px;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: rgb(228, 0, 0);
}

::ng-deep .mat-mdc-paginator-page-size-select {
  width: 65px !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-form-field-flex {
  min-height: 40px !important;
  max-width: 35px !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-value {
  color: black;
  font-weight: 800;
}

::ng-deep .mat-mdc-select-arrow {
  color: black;
  font-weight: 800;
}







//--------------------------------------------------------------

mat-card {
  margin-top: 10px;
  margin-bottom: 4px;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
              .3s box-shadow,
              .3s -wedkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;

  &-subtitle {
    margin: 10px 10px 6px 10px;
  }

  &-title {
    margin: 0 10px 6px 10px;
    font-size: 18px;
    line-height: normal;
  }

  &-content {
    padding-left: 10px;
  }
}

mat-card:hover {
  transform: scale(1.01);
}

mat-divider {
  margin: 8px 10px 0 10px;
}
