<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
        <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam debitis voluptatem non laudantium. Hic accusantium adipisci ullam ea libero, illum assumenda autem facere veritatis asperiores ducimus aliquid fugiat excepturi quod?
    <br>
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
